body {
    text-align: center;
    image-resolution: 10x10;
    background: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: sans-serif;
  }
  p {
    font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: lightcoral;
    color: white;
  }
  img[id="head"] {
    padding-top: 100px;
    width: 15%;
    height: 15%;
  }
  